<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cafeteria_feedback.admin.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>com.cafeteria_feedback.student.web.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <servlet-class>com.cafeteria_feedback.feedback.web.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFeedBackServlet</servlet-name>
        <servlet-class>com.cafeteria_feedback.admin.web.AdminFeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRatingServlet</servlet-name>
        <servlet-class>com.cafeteria_feedback.admin.web.AdminRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPersonalDataServlet</servlet-name>
        <servlet-class>com.cafeteria_feedback.admin.web.AdminPersonalDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteFeedBack</servlet-name>
        <servlet-class>com.cafeteria_feedback.admin.web.AdminDeleteFeedBack</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <url-pattern>/AddFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFeedBackServlet</servlet-name>
        <url-pattern>/AdminFeedBackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRatingServlet</servlet-name>
        <url-pattern>/AdminRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPersonalDataServlet</servlet-name>
        <url-pattern>/AdminPersonalDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteFeedBack</servlet-name>
        <url-pattern>/AdminDeleteFeedBack</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
